                    /* Typography imports */

                    @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&family=Ubuntu+Mono:wght@700&display=swap');
                    @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&family=Righteous&family=Ubuntu+Mono:wght@700&display=swap');

                    /* General settings */

*{
    margin: 0;
    padding: 0;
}

                    /* Header styles */

.cont_header_sing_in {
    background-color: #1DBEB4;
    height: 80px;
    display: flex;
    align-items: center;
}

.header { 
    margin-left: 15px;
}

                    /* Styles to project name and logo */

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* top: 10px; */
    position: relative;
}

.project_name{
    position: relative;
    display: flex;
    align-items: center;
}

.name1 {
    color: #27B43E;
    padding-left: 5px;
    font-size: 30px;
    font-family: sans-serif; 
}

.name2 {
    color: white;
    font-size: 30px;
    padding-left: 5px;
    font-family: 'Righteous', sans-serif;
}

.link_home{
    text-decoration: none;
    color: whitesmoke;
}

/* Order of the container logo */

.primary_logo{
    display: flex;
    align-items: center;

}

                    /* Styles to forms */

.container_form{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 80vh;
    flex-direction: column;
}

.form {
    position: relative;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    background: #00000018;
}

.title {
    text-align: center;
    color: #1DBEB4;
    font-size: 30px;
    font-family: sans-serif;
    padding-bottom: 20px; 
}

.form label{
    color: #383B58;
    font-family:  sans-serif;
    margin-top: 10px;
}

.form input {
    height: 25px;
    width: 100%;
    border-radius: 5px;
    border: 20px;
    margin-top: 10px;
    padding-left: 5px;
}
input:focus{
    border: 2px solid #1DBEB4;
}
.container_forms{
    display: flex;
    flex-direction: column;
}

.visibility_off{
    width: 18px;
    opacity: 0.6;
    position: absolute;
    right: 6%;
    top: 179px;
    cursor: pointer;
}

                    /* Styles to the login button */

.btn_login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.button{
    background: #27B43E;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.button2{
    background: #27B43E;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn_login p{
    margin-top: 10px;
}
.btn_login p a{
    text-decoration: none;
    color: #1DBEB4;
}
                    /* Styles for mobile */

@media screen and (max-width: 425px) {

    .form {
        width: 280px;
    }   
}
@media screen and (max-width: 320px) {

    .form {
        width: 240px;
    }
}